<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>syllubusViewer</title>

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/assets/css/example.css">
  <style type="text/css">
  .bs-component + .bs-component {
    margin-top: 1rem;
  }
  @media (min-width: 768px) {
    .bs-docs-section {
      margin-top: 8em;
    }
    .bs-component {
      position: relative;
    }
    .bs-component .modal {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      z-index: 1;
      display: block;
    }
    .bs-component .modal-dialog {
      width: 90%;
    }
    .bs-component .popover {
      position: relative;
      display: inline-block;
      width: 220px;
      margin: 20px;
    }
    .nav-tabs {
      margin-bottom: 15px;
    }
    .progress {
      margin-bottom: 10px;
    }
  }
  </style>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        Syllubus Viewer
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">このサイトについて <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form action="/searchResult" class="form-inline my-2 my-lg-0" method="POST">
          <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<div class="container">
    <h2>{{kougi["title"]}}
        <small class="text-muted">{{kougi["teacher"]}}</small>

        <div class="star-rating">
            <div class="star-rating-front" style="width: {{star}}%">★★★★★</div>
            <div class="star-rating-back">★★★★★</div>
        </div>

        <small>みんなの評価点数 = {{star/20}}</small>
    </h2>

    <table class="table">
            <thead>
              <tr>
                <th scope="col">開講学期</th>
                <th scope="col">時間割</th>
                <th scope="col">対象学科</th>
                <th scope="col">開講学年</th>
              </tr>
            </thead>
            <tbody>
                <td>{{kougi["semester"]}}</td>
                <td>{{kougi["zikan"]}}</td>
                <td>{{kougi["taisyo"]}}</td>
                <td>{{kougi["gakunen"]}}</td>
            </tbody>
    </table>

    <h3>授業の主旨</h3>
    <p class="bs-component">{{kougi["text"]}}</p>

    <h3>評価の方法</h3>
    <p class="bs-component">{{kougi["hyoka"]}}</p>

    <h3>評価基準</h3>
    <p class="bs-component">{{kougi["hyokakizyun"]}}</p>

    <div class="page-header">
      <h3 id="containers">この講義に対するみんなの評価</h3>

        {% for review in reviews %}
        <div class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">{{review["title"]}}
                <div class="star-rating">
                    <div class="star-rating-front">{% for _ in range(review["star"])%}★{% endfor %}</div>
                    <div class="star-rating-back">★★★★★</div>
                </div>

            </div>
            <div class="card-body text-primary">
              <p class="card-text">{{review["text"]}}</p>
            </div>
        </div>
        {% endfor %}

    </div>

    <h3>講義の評価を登録する</h3>
        <form action="/kougiDetail/{{kougi['id']}}" method="POST">
        <input type="hidden" name="id" value="{{kougi['id']}}">

        5段階で評価(任意):
            <div class="evaluation">
              <input id="star1" type="radio" name="star" value="5" required=”true”/>
              <label for="star1"><span class="text"></span>★</label>
              <input id="star2" type="radio" name="star" value="4" required=”true”/>
              <label for="star2"><span class="text"></span>★</label>
              <input id="star3" type="radio" name="star" value="3" required=”true”/>
              <label for="star3"><span class="text"></span>★</label>
              <input id="star4" type="radio" name="star" value="2" required=”true”/>
              <label for="star4"><span class="text"></span>★</label>
              <input id="star5" type="radio" name="star" value="1" required=”true”/>
              <label for="star5"><span class="text"></span>★</label>
            </div>

        <div class="form-group">
            <label>評価のタイトル(必須):</label>
            <input type="text" name="title" class="form-control" placeholder="(例) 受ける価値あり！">
        </div>
        <div class="form-group">
            <label>本文(任意):</label>
            <textarea type="text" name="text" class="form-control" rows="4" placeholder="(例) 何にしろ、先生が優しい！そして実験が楽しい！物理に詳しくなくても楽しめるよ。"></textarea>
        </div>
        <p class="bs-component">
          <button type="submit" class="btn btn-success">自分の評価を登録する</button>
        </p>
        </form>
</div>

<footer class="small">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center copyright">
        &copy; 2019 Sobue&Servant
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="./js/bootstrap.min.js"></script>

<script type="text/javascript">
  $('.bs-component [data-toggle="popover"]').popover();
  $('.bs-component [data-toggle="tooltip"]').tooltip();
</script>
</body>
</html>
