<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>SyllabusViewer</title>

  <link rel="shortcut icon" type="image/png" href="assets/img/brand.png">

  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../static/assets/css/example.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        Syllubus Viewer
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">このサイトについて <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!--topテーマ　jumbotron-->
<div class="jumbotron special">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 d-xl-block d-none">
        <div class="honoka"></div>
      </div>
      <div class="col-xl-8 outline text-xl-left text-center">
        <div class="display-3 copy">
          <span class="d-inline-block">SyllabusViewerで､</span><br>
          <span class="d-inline-block">あなたも</span><span class="d-inline-block">簡単に</span><br>
          <span class="d-inline-block">単位を</span><span class="d-inline-block">GET!!</span>
        </div>
        <p class="lead mt-2">SyllabusViewerは簡単な授業を検索できるWEBアプリです</p>
        <hr>
        <ul class="download list-inline">
          <div class="inline">
            <form action="./searchResult" method="POST">
             <div class="form-group">
               <label>シラバス検索</label>
               <input type="text" name="keyword" class="form-control" id="exampleInputEmail1" placeholder="講義名を入力">
             </div>
             <div class="form-group">
               <p>絞り込み条件</p>
               <input type="hidden" name="msr_05_chack01" id="msr_05_chack01" value="0"/>
               <input type="checkbox" name="msr_05_chack01" id="msr_05_chack01" value="0"/>
               <label for="msr_05_chack01">持ち込みOK</label>
               <input type="hidden" name="msr_05_chack02" id="msr_05_chack02" value="0"/>
               <input type="checkbox" name="msr_05_chack02" id="msr_05_chack02" value="0"/>
               <label for="msr_05_chack02">テスト無し</label>
               <input type="hidden" name="msr_05_chack03" id="msr_05_chack03" value="0"/>
               <input type="checkbox" name="msr_05_chack03" id="msr_05_chack03" value="0"/>
               <label for="msr_05_chack03">中間テストあり</label>
               <input type="hidden" name="msr_05_chack04" id="msr_05_chack04" value="0"/>
               <input type="checkbox" name="msr_05_chack04" id="msr_05_chack04" value="0"/>
               <label for="msr_05_chack04">講師が優しい</label>
               <input type="hidden" name="msr_05_chack05" id="msr_05_chack05" value="0"/>
               <input type="checkbox" name="msr_05_chack05" id="msr_05_chack05" value="0"/>
               <label for="msr_05_chack05">将来役に立つ</label>
               <input type="hidden" name="msr_05_chack06" id="msr_05_chack06" value="0"/>
               <input type="checkbox" name="msr_05_chack06" id="msr_05_chack06" value="0"/>
               <label for="msr_05_chack01">レポートのみ</label>
            </div>
                <li class="list-inline-item"><button type="submit" class="btn btn-primary btn-lg">検索する</button></li>
            </form>
        </ul>
      </div>
    </div>
  </div>
</div>

<footer class="small">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center copyright">
        &copy; 2019 Sobue&Servant
      </div>
    </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32151614-3', 'auto');
  ga('send', 'pageview');

</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
new Clipboard('.btn');
$(document).ready(function(e) {
  $.when(
    $.ajax({
      url: 'https://api.github.com/repos/ysakasin/Umi/releases/latest',
      type: 'get',
      dataType: 'json'
    }),
    $.ajax({
      url: 'https://cdn.rawgit.com/ysakasin/Umi/master/bower.json',
      type: 'get',
      dataType: 'json'
    })
  )
  .done(function(last, base) {
    $('.last-version').text(last[0].tag_name.split('v')[1]);
    $('.base-version').text(base[0].devDependencies.bootstrap);
    $('.last-release-download-link').attr({'href': '//github.com/ysakasin/Umi/releases/tag/' + last[0].tag_name })
  });
});
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&appId=238369762859730&version=v2.3";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</body>
</html>
