<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='top.css')}}">
  </head>
  <body>
    <h1>SyllabusViewer</h1>
    <div class="container1">
      <div class="searchbox">
      <form id="form1" action="http://157.110.46.120">
        <input id="sbox" name="s" type="text" placeholder="キーワードを入力" />
        <input id="sbtn" type="submit" value="検索" />
      </form>
      </div>
    </div>
    <div class="container1">
      <div class="selection">
        <div class="msr_chack_05">
          <p>Chack_box</p>
          <input type="checkbox" name="msr_05_chack01" id="msr_05_chack01" />
          <label for="msr_05_chack01">持ち込みOK</label>
          <input type="checkbox" name="msr_05_chack01" id="msr_05_chack02" />
          <label for="msr_05_chack02">テスト無し</label>
          <input type="checkbox" name="msr_05_chack01" id="msr_05_chack03" />
          <label for="msr_05_chack03">中間テストあり</label>
          <input type="checkbox" name="msr_05_chack01" id="msr_05_chack04" />
          <label for="msr_05_chack04">講師が優しい</label>
          <input type="checkbox" name="msr_05_chack01" id="msr_05_chack05" />
          <label for="msr_05_chack05">将来役に立つ</label>
        </div>
      </div>
    </div>
  </body>
</html>
