h1 {
  color: blue;
}
/*フォーム全体*/
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox{
      border: 1px solid #000;
}

.main div   {
    width: 80%;
    border: 1px solid #FF0000;
    margin: 0 auto;
}

#form1{
  /*position:relative;/*フォームの相対位置*/
  max-width:540px;/*フォームのサイズ*/
}
/*検索ボックス*/
#sbox{
  /*position:absolute;/*フォームの絶対位置*/
  left:0;
  top:0;
  text-align: center;/*中央ぞろえ*/
  outline:0;/*クリック時の青い枠線消す*/
  height:50px;/*検索ボックスの高さ*/
  padding:0 10px;/*テキスト位置調整*/
  border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/
  background:#eee;/*検索ボックスの背景カラー*/
}
/*検索ボタン*/
#sbtn{
  padding: 0;
  width:70px;/*検索ボタンの横幅*/
  height:50px;/*検索ボタンの縦幅*/
  /* position:absolute;/*検索ボタンの絶対位置*/
  left:540px;/*検索ボタンの位置調整*/
  top:0;
  border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
  background:#7fbfff;/*検索ボタンの背景カラー*/
  border:none;/*検索ボタンの枠線を消す*/
  color:#fff;/*検索ボタンのテキストカラー*/
  font-weight:bold;/*検索ボタンのテキスト太字*/
  font-size:16px;/*検索ボタンのフォントサイズ*/
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
}
